<div class="container">
  <h1>Employee List</h1>
  
  <%= search_form_for @q, html: { class: "row g-3" } do |f| %>
    <div class="col-md-3">
      <%= f.label :first_name_cont, "First Name", class: "form-label" %>
      <%= f.text_field :first_name_cont, class: "form-control" %>
    </div>
    <div class="col-md-3">
      <%= f.label :last_name_cont, "Last Name", class: "form-label" %>
      <%= f.text_field :last_name_cont, class: "form-control" %>
    </div>
    <div class="col-md-3">
      <%= f.label :email_cont, "Email", class: "form-label" %>
      <%= f.text_field :email_cont, class: "form-control" %>
    </div>
    <div class="col-md-3">
      <%= f.label :contact_number_cont, "Contact Number", class: "form-label" %>
      <%= f.text_field :contact_number_cont, class: "form-control" %>
    </div>
    <div class="col-md-3">
      <%= f.label :address_cont, "Address", class: "form-label" %>
      <%= f.text_field :address_cont, class: "form-control" %>
    </div>
    <div class="col-md-3">
      <%= f.label :pincode_cont, "Pincode", class: "form-label" %>
      <%= f.text_field :pincode_cont, class: "form-control" %>
    </div>
    <div class="col-md-3">
      <%= f.label :city_cont, "City", class: "form-label" %>
      <%= f.text_field :city_cont, class: "form-control" %>
    </div>
    <div class="col-md-3">
      <%= f.label :state_cont, "State", class: "form-label" %>
      <%= f.text_field :state_cont, class: "form-control" %>
    </div>
    <div class="col-md-3">
      <%= f.label :date_of_birth_gteq, "Date of Birth From", class: "form-label" %>
      <%= f.date_field :date_of_birth_gteq, class: "form-control" %>
    </div>
    <div class="col-md-3">
      <%= f.label :date_of_birth_lteq, "Date of Birth To", class: "form-label" %>
      <%= f.date_field :date_of_birth_lteq, class: "form-control" %>
    </div>
    <div class="col-md-3">
      <%= f.label :date_of_hiring_gteq, "Date of Hiring From", class: "form-label" %>
      <%= f.date_field :date_of_hiring_gteq, class: "form-control" %>
    </div>
    <div class="col-md-3">
      <%= f.label :date_of_hiring_lteq, "Date of Hiring To", class: "form-label" %>
      <%= f.date_field :date_of_hiring_lteq, class: "form-control" %>
    </div>

    <div class="col-12">
      <%= f.submit "Search", class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= form_tag import_employees_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
  <% end %>

  <% if @employees.any? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Contact Number</th>
          <th scope="col">Address</th>
          <th scope="col">Date of Birth</th>
          <th scope="col">Date of Hiring</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @employees.each do |employee| %>
          <tr>
            <td><%= "#{employee.first_name} #{employee.last_name}" %></td>
            <td><%= employee.email %></td>
            <td><%= employee.contact_number %></td>
            <td><%= "#{employee.address}, #{employee.city}, #{employee.state}, #{employee.pincode}" %></td>
            <td><%= employee.date_of_birth %></td>
            <td><%= employee.date_of_hiring %></td>
            <td>
              <%= link_to 'Show', employee, class: 'btn btn-primary btn-sm' %>
              <%= link_to 'Edit', edit_employee_path(employee), class: 'btn btn-secondary btn-sm' %>
              <%= link_to 'Delete', employee, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No employees found.</p>
  <% end %>
  
</div>
