<div class="container">
  <h1>Employee Details</h1>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Name: <%= @employee.first_name %> <%= @employee.last_name %></h5>
      <p class="card-text">Email: <%= @employee.email %></p>
      <p class="card-text">Contact Number: <%= @employee.contact_number %></p>
      <p class="card-text">Address: <%= @employee.address %>, <%= @employee.city %>, <%= @employee.state %>, <%= @employee.pincode %></p>
      <p class="card-text">Date of Birth: <%= @employee.date_of_birth %></p>
      <p class="card-text">Date of Hiring: <%= @employee.date_of_hiring %></p>
    </div>
  </div>
</div>
